@import 'fonts';
@import 'common/fontawesome/font-awesome';
@import 'common/_variables';
@import 'common/_mixins'; 

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *{
  &:before, &:after {
    box-sizing: border-box;
  }
}
input {
  outline: none;
}
body {
  background: #f4f5f0;
  font: 400 16px/1.65 'Roboto', Arial, sans-serif;
  color: #566358;
}
ul {
  list-style-type: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font: 400 16px/1.65 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 16px;
  margin: 0 0 16px 0;
}
h3 {
  font: normal 63px/1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
}
h4 {
  font: normal 35px/1.1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
}

/////////////
// Grid
////////////

.container {
  width: 1180px;
  margin: 0 auto;  
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.one-third {
  width: 33.33333%;
  float: left;  
  &:first-child {
    margin-left: 0;
  }
}

.site-wrapper {
  width: 100%;
  height: 100%;
  min-width: 1180px;
  position: relative;
}

.content {
  margin-bottom: 67px;
  &_nomargin {
    margin-bottom: 0;
  }
}

// Hamburger menu
.hamburger-nav {
  &_absolute {
    position: absolute;
    top: 28px;
    right: 30px;
  }
  &__button {
    display: block;
  }
  &__icon {
    color: #fff;
    font-size: 48px;
    line-height: 1;
  }
}

.st-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 0 0;
  color: #ffffff;
  text-align: center;
  background: rgba(18, 38, 32, .6);
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;
  min-width: 380px;
  box-sizing: border-box;
  &_contact {
    padding: 35px 40px;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -36%);
    background: rgba(244, 245, 240, .85);
  }  
}

// Personal info
.personal-info {
  text-align: center;
  padding: 0 65px;
  &__avatar-wrapper {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 6px auto;
  }
  &__avatar-img {
    width: 100%;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
  }
  &__tagline {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 16px 0;
    padding: 0;
  }
}
.personal-info {
  &_large{
    .personal-info__avatar-wrapper {
      margin-bottom: 26px;
    }
    .personal-info__title {
      font-size: 35px;
      line-height: 1;
      margin-bottom: 4px;
    }
  }
}


// Main nav
.main-nav {  
  font-size: 0;
  text-align: justify;
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    position: relative;
    display: inline-block;
    list-style-type: none;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, .5);
    }
    &:last-child:after {
      display: none;
    }
  }
  &__link {
    padding: 14px 32px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    background: #639155;
    display: block;
    transition: background .2s;
    &:hover, &:focus, &:active {
      background: #497f3a;
    }
  } 
}

.fullwidth-background {
  position: relative;
}
.authorize-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  display: block;
  text-decoration: none;
  transition: color, background .2s;
  &:hover {
    background: #fff;
    color: #467c37;
  }
}




////////////////
// About page
////////////////
.col-left {
  float: left;
  width: 50%;
  background: #ebefe2;
}
.col-right {
  float: right;
  width: 50%;   
}
.article-content {
  &__inner-wrapper {
    padding: 12px 70px 48px 70px;
    &_small {
      padding: 12px 0 0 40px;
    }
  }
  &__image {
    margin-bottom: 29px;
  }  
  &__paragraph {
    line-height: 1.5;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Google Map
.map-wrapper {
  position: relative;
  height: 974px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

// Contact info
.contact {  
  &__item {   
    text-align: left;
    color: #566358;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
     display: inline-block;
    color: #6c9c5a;
    font-size: 24px;
    width: 34px;
    vertical-align: middle;
  }
  &__text {

  }
  &__link {
    color: #566358;
    text-decoration: none;
    &:hover {
      color: #6c9c5a;
    }
  }
}


////////////////
// Works page
////////////////
.content-bottom {
  position: relative;
  background: #f4f5f0 url('../img/works-bottom-bg.jpg') 0 bottom no-repeat ;
  background-size: cover;
  padding-bottom: 340px;
}


////////////////
// Blog page
////////////////
.header {
  color: #fff;
  background-size: cover;
  text-align: center;
  background: url('../img/bg-main.jpg') center 60% no-repeat;
  background-size: cover;
  &_inner-page {    
    padding: 82px 0 46px;  
    margin-bottom: 66px;
  }
  &_inner-page-high{
    position: relative;
    padding: 153px 0 200px;
    background: url('../img/bg-main.jpg') center 39% no-repeat;    
    margin-bottom: 0;
    background-size: cover;
  }
   &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;     
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 8%,rgba(0,0,0,0) 100%);    
  }
}
.avatar-wrapper {
  margin: 0 0 14px 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}
.page-title {  
  margin: 0 0 28px 0;
  padding-bottom: 25px;
  position: relative;
  font: normal 63px/1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;  
  text-transform: uppercase;
  &:after {    
    content: '';    
    position: absolute;
    width: 89px;
    height: 3px;
    margin-top: 30px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #fff;
  }
  &_extra {
    padding-bottom: 13px;
    color: #373e42; 
    margin-bottom: 36px;  
    text-align: center;
     &:after {
        background: #373e42;
     }
  }
  &_small {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #566358;
    text-align: center;
    &:after {
        background: #566358;
     }
  }
  &_multiline {
    max-width: 255px;
    line-height: 1.15;
    padding-bottom: 16px;    
    margin: 0 auto 34px auto;
  }
  &_extramargin {
    margin-bottom: 30px;
    padding-bottom: 26px;
  }
  &_extramargin2 {
    margin-bottom: 25px;
    padding-bottom: 34px;
  }
}
.extra-title-wrapper {
  width: 100%;  
  padding: 62px 0 6px 0; 
  background: #f8f9f5;
  &_no-bg{
    background:none;
  }

}

.page-slogan {
  font: normal 16px/1 'Roboto', sans-serif;
}

.blog-sidebar {
  width: 300px;
  float: left;  
}
.vertica-nav {
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;    
  }
  &__item {
    padding: 5px 0;
    margin: 0;
    &_active {
      .vertica-nav__link {
        color: #4e8839;
        font-weight: 700;      
        border-right: 3px solid #4e8839; 
      }
    }
  }
  &__link {
    padding: 8px 16px 8px 0;    
    color: #566358;
    text-decoration: none;
    display: block;
    &:hover {
      color: #4e8839;
    }       
  }
}

.blog-posts {
  margin-left: 100px;
  width: 700px;
  float: left;
}
.blog-post {  
  padding-bottom: 64px;
  margin-bottom: 64px;
  border-bottom: 5px solid rgba(55, 62, 66, .07);
  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }  
  &__title {
    margin: 0 0 18px 0;
    font: normal 35px/1.05 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
    color: #566358;
  }
  &__date {
    display: block;
    color: #4e8839;
    margin-bottom: 17px;
  }
  &__paragraph {
    margin: 0 0 8px 0;
    &_last {
      margin-bottom: 0;
    }
  }
  &__image {
    margin-top: 12px;
  }
}

///////////////
// Footer
///////////////
.footer-wrapper {
  margin-top: -182px;
  position: relative;
}
.footer-simple {
  position: relative;  
  top: 93%;
  z-index: 10;
  color: #fff;
  text-align: center;
}
.footer-top {
  color: #ffffff;
  padding: 24px 0 20px 0;
  background: rgba(55,62,66,.85);
}
.footer-bottom {
  color: #ffffff;
  padding: 4px 0;
  background: rgba(108, 156, 90, .85);
  text-align: center;
  font-weight: 300;
}
.box-inner-wrapper {
  padding: 0 25px;
}
.separator {
    // border-right: 1px solid rgba(255, 255, 255, .2);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 90px;
      right: 0;
      top: 4px;
      background: rgba(255, 255, 255, .2);
    }
}
.site-info {
  &__text {
    font-weight: 300;
  }
}


// Simple inline menu
.simple-nav {
  &__list {
    font-size: 0;
    padding: 0;    
    margin: 0 0 6px 0;
    font-weight: 500;
  }
  &__item {
    margin-left: 15px;
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
    &_active {
      .simple-nav__link {
        color: #4e8839;
      }
    }
  }
  &__link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
      color: #4e8839;
    }
     &:active {
      opacity: .3;
     }
  }
}

// Social links
.social-nav {
  &__list {    
    margin: 0;
    padding: 0;
    font-size: 28px;    
  }  
  &__item{
    display: inline-block;
    margin-left: 22px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link{
    color: #fff;
    opacity: .5;
    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }
}
// Social Green theme
.social-nav {
  &-wrapper {
    margin-bottom: 30px;
    &_theme-green {
      .social-nav__link {
        opacity: 1;
        &:hover {
          color: #4e8839;
        }        
      }
    }
  }  
}
// Social Green Transparent
.social-nav {
  &-wrapper {
    margin-bottom: 30px;
    &_theme-transp-green {
      .social-nav__link {
        opacity: .5;
        &:hover {
          color: #4e8839;
          opacity: 1;
        }        
      }
    }
  }  
}
// Social Absolute Positioning
.social-nav {
  &-wrapper {    
    &_absolute {
      position: absolute;
      margin-bottom: 0;
      left: 30px;
      top: 18px;
    }  
  }
}

.blockquote {
  margin: 0;
  padding: 0 0 0 12px;
  font-style: italic;
  &__text {  
    font-weight: 300;
    opacity: .5;
  }
  &__author {    
    font-weight: 700;
    opacity: .5
  }
}

// Extra classes
.mb50 {
  margin-bottom: 50px;
}
.left-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ebefe2;
  }
}


.authorize-box {
  display: none;
}
@import 'common/fullwidth-background';
@import 'common/slider';
@import 'common/authorize';
@import 'common/skills';
@import 'common/testimonials';
@import 'common/contact-form';