@import 'fonts';
@import 'common/fontawesome/font-awesome';
@import 'common/_variables';
@import 'common/_mixins'; 

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}
input {
  outline: none;
}
body {
  background: #f4f5f0;
  font: 400 16px/1.65 'Roboto', Arial, sans-serif;
  color: #566358;

  @include laptop() {
    font-size: 15px;
  }
  @include tablet() {
    font-size: 14px;
  }  
  @include phone() {
    font-size: 13px;
  }
}
ul {
  list-style-type: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font: 400 16px/1.65 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 16px;
  margin: 0 0 16px 0;
}
h3 {
  font: normal 63px/1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
}
h4 {
  font: normal 35px/1.1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
}
img {
  vertical-align: middle;  
  max-width: 100%;
}
/////////////
// Grid
////////////

.container {
  width: 1180px;
  margin: 0 auto;

  @include desktop() {
    width: 960px;
  }
  @include laptop() {
    width: 740px;
  }  
  @include tablet() {
    width: 472px;
  }
  @include phone() {
    width: 100%;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


.site-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  margin-bottom: 67px;
  &_nomargin {
    margin-bottom: 0;
  }
}

.st-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 0 0;
  color: #ffffff;
  text-align: center;
  background: rgba(18, 38, 32, .6);
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;
  width: 382px;
  box-sizing: border-box;
  @include laptop(){
    width: 349px;
  }
  @include phone(){
    width: 300px;
  }
  &_contact {
    padding: 35px 40px;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -36%);
    background: rgba(244, 245, 240, .85);
    @include laptop() {
      top: 28%;
      transform: translate(-50%, -28%);
      min-width: 350px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include phone(){
      top: 0;
      left: 0;
      min-width: 100%;
      transform: none;
      border-radius: 0;
      padding-left: 30px;
    }
  }  
}

// Personal info
.personal-info {
  text-align: center;
  padding: 0 65px 0 65px;
  @include laptop(){
    padding: 0;
  }
  &__avatar-wrapper {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 6px auto;
  }
  &__avatar-img {
    width: 100%;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    @include phone(){
      font-size: 21px;
    }
  }
  &__tagline {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 16px 0;
    padding: 0;
    @include desktop-hd() {
      margin-bottom: -25px;
    }
    @include phone() {
      font-size: 14px;
    }
  }
}
.personal-info {
  &_works-theme {
    padding-bottom: 94px;
    @include laptop(){
      padding-bottom: 76px;
    }
     @include phone() {
      padding-bottom: 172px;
    }
    .personal-info__avatar-wrapper {
      margin-bottom: 26px;
      @include phone() {
        margin-bottom: 32px;
      }
    }
    .personal-info__title {
      font-size: 35px;
      line-height: 1;
      margin-bottom: 4px;
       @include phone() {
        font-size: 21px;
        margin-bottom: 8px;
      }
    }
  }
}
.personal-info {
  &_about-theme{
    padding-bottom: 90px;
    @include laptop() {
      padding-bottom: 75px;
    }  
    @include phone() {
      padding-bottom: 172px;
    }
    .personal-info__avatar-wrapper {
      margin-bottom: 26px;
       @include phone() {
        margin-bottom: 32px;
      }
    }
    .personal-info__title {
      font-size: 35px;
      line-height: 1;
      margin-bottom: 4px;
      @include phone() {
        font-size: 21px;
        margin-bottom: 8px;
      }
    }
  }
}


// Main nav
.main-nav {  
  font-size: 0;
  text-align: justify;
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    position: relative;
    display: inline-block;
    list-style-type: none;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, .5);
    }
    &:last-child{
      .main-nav__link {
        @include laptop(){
         padding-right: 24px;
        }
        @include phone(){
         padding-right: 20px;
        }
      }
      &:after {
        display: none;
      }      
    }
  }
  &__link {
    padding: 14px 32px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    background: #639155;
    display: block;
    transition: background .2s;
    &:hover, &:focus, &:active {
      background: #497f3a;
    }
    @include laptop(){
      padding: 14px 27px;    
    } 
    @include phone(){
      padding: 14px 18px;
    }
  } 
}

.fullwidth-background {
  position: relative;
}
.authorize-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  display: block;
  text-decoration: none;
  transition: color, background .2s;
  &:hover {
    background: #fff;
    color: #467c37;
  }
  @include phone(){
    left: 50%;
    right: initial;
    transform: translateX(-50%);
  }
}




////////////////
// About page
////////////////

.container {
  &_about{
    @include desktop-hd(){
      width: 1680px;
    }
  }
}

.triangle {  
  &__left {
    fill: #f4f5f0;
  }
  &__right {
    fill: #f4f5f0;
  }  
}
.triangle_blog-theme {
   margin-top: -62px;
   @include laptop(){
    margin-top: 48px;
   }
}
.triangle_about-theme {
   .triangle {
      &__left {
        fill: #ebefe2;
      }
       &__right {
        fill: #f4f5f0;
        @include laptop() {
          fill: #ebefe2;
        }
      }  
      
   }
}
.triangle_works-theme {
   .triangle {
      &__left {
        fill: #f8f9f5;
      } 
      &__right {
        fill: #f8f9f5;
      }
   }
}
.col-left {
  float: left;
  width: 50%;
  background: #ebefe2;
  @include laptop() {
    width: 100%;
    float: none;
  } 
}
.col-right {
  float: right;
  width: 50%;  
  @include laptop() {
    width: 100%;
    float: none;
  }  
}
.article-content {
  &__inner-wrapper {
    padding: 12px 70px 48px 70px;
    overflow: hidden;
    @include desktop-hd() {
     padding: 7px 20px 108px 70px;
    }
    @include laptop() {
     padding: 46px 0 44px 0;
    }
    @include phone() {
     padding: 26px 0 28px 0;
    }
    &_small {
      padding: 12px 0 0 40px;
      @include desktop-hd() {
        padding: 7px 0 0 40px;
      }
      @include laptop() {
        padding: 45px 0 0;
      }
      @include phone() {
        padding: 27px 0 0;
      }
    }
  }
  &__extra-wrapper {
    float: left;
  }
  &_column {
    @include desktop-hd() {
      width: 440px;
      float: right;
    }
  }
  &__image {
    margin-bottom: 29px;
    @include laptop() {
     margin-bottom: 47px;
    }
    @include phone() {
     margin-bottom: 29px;
    }

  }  
  &__paragraph {
    line-height: 1.5;
    margin-bottom: 12px;    
    @include laptop() {
      line-height: 1.8;
    }   
    @include phone() {
      padding: 0 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Google Map
.map-wrapper {
  position: relative;
  height: 974px;
  overflow: hidden;
  @include laptop() {
    height: 904px;
  }
  @include laptop() {
    height: 1140px;
  }
  img {
    width: 100%;
  }
}

// Contact info
.contact {  
  &__item {   
    text-align: left;
    color: #566358;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @include laptop(){
      font-size: 16px;
    }
  }
  &__icon {
     display: inline-block;
    color: #6c9c5a;
    font-size: 24px;
    width: 34px;
    vertical-align: middle;
  }
  &__text {

  }
  &__link {
    color: #566358;
    text-decoration: none;
    &:hover {
      color: #6c9c5a;
    }
  }
}


////////////////
// Works page
////////////////
.content-bottom {
  position: relative;
  background: #f4f5f0 url('../img/works-bottom-bg.jpg') 0 bottom no-repeat ;
  background-size: cover;
  padding-bottom: 340px;
  @include laptop(){
    padding-bottom: 390px;
  }
  @include phone(){
    padding-bottom: 435px;
  }
}


////////////////
// Blog page
////////////////
.container {
  &_blog {
    @include desktop-hd(){
      width: 1576px;
    } 
    @include laptop(){
      width: 720px;
    }  
    @include tablet(){
      width: 100%;
      padding: 0 10px;
    }     
  }
}
.header {
  font-size: 0;
  color: #fff;
  background-size: cover;
  text-align: center;
  background: url('../img/bg-main.jpg') center 60% no-repeat;
  background-size: cover;  
  &_inner-page {    
    padding: 82px 0 0;  
    margin-bottom: 62px;
    @include laptop(){
      padding-top: 116px;
      margin-bottom: 51px;
    }
  }
  &_inner-page-high{
    position: relative;
    padding: 153px 0 0;
    background: url('../img/bg-main.jpg') center 39% no-repeat;    
    margin-bottom: 0;
    background-size: cover;
    @include laptop() {
      padding-top: 116px;
    }  
    @include phone() {
      padding-top: 100px;
    }
     @include phone(){
      padding-top: 116px;
    }
  }
   &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;     
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 8%,rgba(0,0,0,0) 100%);    
  }
}
.avatar-wrapper {
  margin: 0 0 22px 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}
.page-title {  
  margin: 0 0 28px 0;
  padding-bottom: 25px;
  position: relative;
  font: normal 63px/1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;  
  text-transform: uppercase;
  @include laptop() {
    font-size: 49px;    
  }
  @include phone() {
    font-size: 35px;    
  }
  &:after {    
    content: '';    
    position: absolute;
    width: 89px;
    height: 3px;
    margin-top: 30px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #fff;   
    @include laptop() {
      width: 56px;
    } 
  }
  &_extra {
    padding-bottom: 13px;
    color: #373e42; 
    margin-bottom: 36px;  
    text-align: center;
    &:after {
       background: #373e42;
    }
    @include laptop() {
     margin-bottom: 30px;
    }
    @include laptop() {
      padding-bottom: 17px;
      margin-bottom: 18px;
    }
  }
  &_column {
    @include desktop-hd(){
      float: left;
    }
  }
  &_small {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #566358;
    text-align: center;
    &:after {
        background: #566358;
     }
     @include laptop() {
      font-size: 30px;
     }
     @include phone() {
      font-size: 21px;
      padding-bottom: 19px;
     }
  }
  &_blog {
    @include laptop(){
      margin-bottom: 17px;
      padding-bottom: 17px;
    }
   
  }
  &_works {
    margin-bottom: 30px;
    padding-bottom: 26px;    
    @include laptop(){
      margin-bottom: 0;
      padding-bottom: 17px;       
    }
  }
  &_multiline {
    max-width: 255px;
    line-height: 1.15;
    padding-bottom: 16px;    
    margin: 0 auto 34px auto;
    @include laptop() {
      max-width: 50%;
      margin-bottom: 14px;
    }
    @include phone() {
      max-width: 50%;
      margin-bottom: 11px;
      padding-bottom: 21px;
    }
  } 
  &_extramargin2 {
    margin-bottom: 25px;
    padding-bottom: 34px;
    @include laptop() {
      margin-bottom: 10px;
      padding-bottom: 17px;
    }
    @include laptop() {
      line-height: 1.2;
      margin-bottom: 10px;
      padding-bottom: 19px;
    }
  }
  &_contact-form {
    margin: 0 0 32px 0;
    padding-bottom: 26px;
    @include laptop() {
      font-size: 35px;
      padding-bottom: 26px;
      margin-bottom: 34px;
    }
    @include phone() {
      font-size: 21px;
      padding-bottom: 20px;
      margin-bottom: 18px;
    }
  }
  &_contact {
    @include laptop() {
      font-size: 35px;
      padding-bottom: 14px;
      margin-bottom: 34px;
    }
    @include phone(){
      margin-bottom: 21px;
      padding-bottom: 16px;
    }
  }
}
.extra-title-wrapper {
  padding: 59px 0 6px 0; 
  background: #f8f9f5;
  @include laptop(){
    padding-bottom: 30px;
  }
  &_works {
    @include laptop(){
      padding-top: 41px;
    }
    @include laptop(){
      padding-top: 28px;
      padding-bottom: 15px;
    }   
  }
  &_no-bg{
    background:none;
    @include laptop(){
      padding-top: 32px;      
    }
    @include phone(){
      padding-bottom: 15px;      
    }
  }
}

.page-slogan {
  font: normal 16px/1 'Roboto', sans-serif;
  &_blog {
    @include desktop-hd() {
      margin-bottom: -29px;
    }
    @include laptop() {
      font-size: 14px;
    }
  }
}

.blog-sidebar {
  width: 25.5%;
  float: left;  
  @include desktop-hd(){
    width: 280px;
  }
  @include laptop(){
    display: none;
  }
}
.vertical-nav {
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;    
  }
  &__item {
    padding: 5px 0;
    margin: 0;
    &_active {
      .vertical-nav__link {
        color: #4e8839;
        font-weight: 700;      
        border-right: 3px solid #4e8839; 
      }
    }
  }
  &__link {
    padding: 8px 16px 8px 0;    
    color: #566358;
    text-decoration: none;
    display: block;
    &:hover {
      color: #4e8839;
    }       
  }
}

.blog-posts {
  margin-left: 100px;
  width: 60%;
  float: left;
  @include desktop-hd(){
    margin-left: 116px;
    width: 980px;    
    float: left;
  }
  @include laptop(){
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.blog-post {  
  padding-bottom: 64px;
  margin-bottom: 64px;
  border-bottom: 5px solid rgba(55, 62, 66, .07);
  @include tablet(){
    padding-bottom: 48px;
    margin-bottom: 48px;
  }
  @include phone(){
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }  
  &__title {
    margin: 0 0 18px 0;
    font: normal 35px/1.05 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;
    color: #566358;
    @include laptop(){
      font-size: 30px;
      margin-bottom: 11px;
    }
    @include phone(){
      font-size: 21px;
      margin-bottom: 11px;
    }
  }
  &__date {
    display: block;
    color: #4e8839;
    margin-bottom: 17px;
    @include laptop(){
      margin-bottom: 8px;
    }
  }
  &__paragraph {
    margin: 0 0 8px 0;
    &_last {
      margin-bottom: 0;
    }
    @include laptop() {
      margin-bottom: 10px;
    }
  }
  &__image {
    margin-top: 12px;
  }
}

///////////////
// Footer
///////////////
.footer-wrapper {
  margin-top: -186px;
  position: relative;
  @include laptop()  {
    font-size: 14px;  
  }
  @include phone()  {
    text-align: center;  
  }
  &_about {
    @include laptop()  {
      margin-top: -247px;
    }
    @include phone()  {
      margin-top: -300px;
    }
  }
  &_works {
    @include laptop() {
      margin-top: -247px;
    }
    @include phone()  {
      margin-top: -300px;
    }
  }
  &_blog {
    margin-top: 0;
  }
}
.footer-container {
  width: 100%;  
  overflow: hidden;  
  @include desktop(){
    width: 100%;
  }
  @include phone(){
    padding: 0 10px;    
  }
}
.left-block {
  width: 33.33333%;
  float: left;
  margin-left: 0;  
  @include laptop(){
    width: 50%;
    margin-bottom: 72px;
  }
  @include phone(){
    width: 100%;
    padding-bottom: 14px;
    margin-bottom: 14px;    
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
}
.center-block {
  width: 33.33333%;
  float: left;
  @include laptop(){
    width: 50%;   
  } 
  @include phone(){
    width: 100%;
    margin-bottom: 20px;
  }
  @include phone(){
    width: 100%;
    padding-bottom: 14px;
    margin-bottom: 14px;    
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
}
.right-block {
  width: 33.33333%;
  float: left;
  @include laptop(){
    float: none;
    width: 100%;
  } 
}
.footer-simple {
  position: relative;  
  top: 93%;
  z-index: 10;
  color: #fff;
  text-align: center;
  @include laptop(){
    font-size: 16px;
  }
  @include phone(){
    font-size: 14px;
  }
}
.footer-top {
  color: #ffffff;
  padding: 24px 0 20px 0;
  background: rgba(55,62,66,.85);
  @include laptop(){
    padding-bottom: 24px;
  }
  @include phone(){
    padding-top: 14px;
    padding-bottom: 16px;
  }
}
.footer-bottom {
  color: #ffffff;
  padding: 6px 0;
  background: rgba(108, 156, 90, .85);
  text-align: center;
  font-weight: 300;
}
.box-inner-wrapper {
  padding: 0 25px;
  @include phone(){
    padding: 0;    
  }
}
.separator {    
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 90px;
      right: 0;
      top: 4px;
      background: rgba(255, 255, 255, .2);
      @include phone(){
        display: none;
      }
    }
}
.site-info {
  &__text {
    font-weight: 300;   
    max-width: 400px;
  }
}


// Simple inline menu
.simple-nav {
  &__list {
    font-size: 0;
    padding: 0;    
    margin: 0 0 6px 0;
    font-weight: 500;
  }
  &__item {
    margin-left: 15px;
    display: inline-block;    
    &:first-child {
      margin-left: 0;
    }
    &_active {
      .simple-nav__link {
        color: #4e8839;
      }
    }
    @include desktop(){
     margin-left: 8px;
    }
    @include laptop(){
     margin-left: 20px;
    }
    @include phone(){
     margin-left: 11px;
    }
  }
  &__link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
      color: #4e8839;
    }
    &:active {
     opacity: .3;
    }
    @include desktop(){
      font-size: 14px;
    }
  }
}

// Social links
.social-nav {
  &__list {    
    margin: 0;
    padding: 0;
    font-size: 28px;
    @include phone(){
      font-size: 20px;
    }
  }  
  &__item{
    display: inline-block;
    margin-left: 22px;
    @include phone(){
      margin-left: 26px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  &__link{
    color: #fff;
    opacity: .5;
    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }
}
// Social Green theme
.social-nav {
  &-wrapper {
    margin-bottom: 30px;
    &_theme-green {
      .social-nav__link {
        opacity: 1;
        &:hover {
          color: #4e8839;
        }        
      }
    }
  }  
}
// Social Green Transparent
.social-nav {
  &-wrapper {
    margin-bottom: 30px;
    &_theme-transp-green {
      .social-nav__link {
        opacity: .5;
        &:hover {
          color: #4e8839;
          opacity: 1;
        }        
      }
    }
  }  
}
// Social Absolute Positioning
.social-nav {
  &-wrapper {    
    &_absolute {
      position: absolute;
      margin-bottom: 0;
      left: 30px;
      top: 18px;
      @include phone(){
        top: 8px;
        left: 12px;
      }
    }  
  }
}

.blockquote {
  margin: 0;
  padding: 0 0 0 12px;
  font-style: italic;
  @include laptop(){
    padding: 0;
  }
  &__text {  
    font-weight: 300;
    opacity: .5;
  }
  &__author {    
    font-weight: 700;
    opacity: .5
  }
}




// Extra classes
.clear-element {
  display: none;
  clear: both;
  @include laptop(){
    display: block;
  }
}
.mb50 {
  margin-bottom: 50px;
  @include laptop() {
    margin-bottom: 43px;
  }
  @include phone() {
    margin-bottom: 28px;
  }
}
.left-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ebefe2;
    @include laptop() {
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      z-index: -1;
    }
  }
}
.authorize-box {
  display: none;
}
.personal-info-box{
 // display: none;
}
@import 'common/fullwidth-background';
@import 'common/slider';
@import 'common/authorize';
@import 'common/skills';
@import 'common/testimonials';
@import 'common/contact-form';
@import 'common/fs-nav';