@font-face {
	font-family: 'Sansus_Webissimo-Regular';
	src: url('../fonts/sansus_webissimo-regular-webfont.eot');
	src: url('../fonts/sansus_webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/sansus_webissimo-regular-webfont.woff2') format('woff2'),
	     url('../fonts/sansus_webissimo-regular-webfont.woff') format('woff'),
	     url('../fonts/sansus_webissimo-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}