.fs-nav
  .fs-nav__toggle-button
    span
    span
    span
  .fs-nav__menu
    .fs-nav-inner-wrapper
      +nav('fs-nav', [
          {
            name: "Мои работы",
            link: "works.html"
          },
          {
            name: "Обо мне",
            link: "about.html"
          },
          {
            name: "Блог",
            link: "blog.html"
          },
          {
          	name: "Авторизация",
          	link: "index.html"
          }
      ])