.skills-inner-wrapper
	h5.skills__list-title Frontend
	ul.skills__list
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
.skills-inner-wrapper
	h5.skills__list-title Backend
	ul.skills__list
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
.skills-inner-wrapper
	h5.skills__list-title Workflow
	ul.skills__list
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")
		li.skills__item
			img(src="assets/img/skill-placeholder.png" class="skill_image")