ul.social-nav__list
  li.social-nav__item
    +icon_link_fa("social-nav", "vk", "https://vk.com/")
  li.social-nav__item
    +icon_link_fa("social-nav", "github-alt", "https://github.com/")
  li.social-nav__item
    +icon_link_fa("social-nav", "linkedin", "https://linkedin.com/")