.testimonials
	blockquote.testimonial
		.testimonial__image-wrapper
			img(src="assets/img/testi-1.jpg" class="testimonial__image" alt="Testimonial Kovalchuk")
		.testimonial__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.testimonial__footer
			p.testimonial__name Ковальчук Дмитрий
			p.testimonial__position — основатель Loftschool
	blockquote.testimonial
		.testimonial__image-wrapper
			img(src="assets/img/testi-2.jpg" class="testimonial__image" alt="Testimonial Zaharov")
		.testimonial__text Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
		.testimonial__footer
			p.testimonial__name Зар Захаров
			p.testimonial__position — преподаватель