//Skills
.skills {
  &-inner-wrapper {
    margin-bottom: 29px;
   
    &:last-child{
      @include laptop() {
        margin-bottom: 54px;      
      } 
      @include phone(){
        margin-bottom: 0;
      }
    }
    @include laptop() {
      margin-bottom: 44px;      
    } 
    @include phone() {
      margin-bottom: 0;      
    }
  }
  &__list-title {
    padding: 0;    
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    margin: 0 0 17px 0;
    @include laptop() {
      font-size: 20px;
      text-align: center;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    @include laptop() {
      text-align: center;
    }
  } 
  &__item {
    display: inline-block;
    margin-left: 31px;
    @include desktop() {
      width: 100px;
      margin-left: 8px;
    }
    @include laptop() {
      width: initial;
      margin-left: 6px;
    }
    @include laptop() {
      margin-bottom: 28px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}