// Slider
.slider {
  &-wrapper {
    background:#ebefe2; 
    position: relative;
  }
  position: relative;  
  height: 750px;
  overflow: hidden;
  width: 1090px;  
  margin: 0 auto;
  @include desktop() {
    width: 890px;
  }
  @include laptop() {
    width: 510px;
    height: 1015px;
  }
  @include phone() {
    width: 250px;
    height: 570px;
  }
  .slider__inner-wrapper {
     width: 5000px;
     transition: all .4s;
     left: 0;
     position: relative;
  }
}
.slide {   
  position: relative;
  float: left;
  width: 1090px;
  @include desktop() {
    width: 890px;
  }
  @include laptop(){
    width: 510px;
    padding-top: 94px;
    height: 1015px;
  }  
  @include phone(){  
    width: 250px;  
    height: 570px;
    padding-top: 30px;
  }
  &__image {
    margin-top: 47px;
    float: left;
    @include laptop(){
      margin-top: 0;
      margin-bottom: -3px;  
      float: none;
      text-align: center;
    }
    @include phone(){
      height: 320px;
    }
  }
  &__project-title {
    position: relative; 
    padding-bottom: 25px;
    color: #566358;
    margin: 0 0 28px 0;
    font: normal 35px/1.1 'Sansus_Webissimo-Regular', 'Roboto', sans-serif;   
    text-transform: uppercase;
    @include laptop(){
      font-size: 30px;
      padding-bottom: 14px;
      margin-bottom: 13px;
    }
    @include phone(){
      font-size: 21px;
      padding-bottom: 19px;
      margin-bottom: 13px;
      line-height: 1.2;
    }
    &:after {    
      content: '';    
      position: absolute;
      width: 89px;
      height: 3px;
      margin-top: 30px;
      left: 0;
      bottom: 0;      
      background: #566358;
      @include laptop(){
        left: 50%;
        transform: translateX(-50%);
      }
      @include phone(){
        width: 56px;
      }
    }
  }
  &__project-desc {   
    padding-top: 160px;
    float: right;
    display: block;
    max-width: 320px;
    @include laptop(){
      text-align: center;
      float: none;
      padding: 0;
      margin: 0 auto 108px auto;
      max-width: 100%;      
    }
    @include phone(){      
      margin: 0 auto 63px auto;
    }
  } 
  &__project-link {   
    display: inline-block;
    padding: 8px 20px 8px 18px;    
    border-radius: 30px;
    color: #fff;
    background: #6c9c5a;
    text-decoration: none;
    transition: background .2s;    
    .slide__icon {
      font-size: 20px;
      margin-right: 10px;
      vertical-align: middle;
      @include laptop(){
        margin-right: 14px;
      }
    }
    &:hover {
      background: #566358;      
    }
    @include laptop(){
      font-size: 16px;
      padding: 10px 20px 10px 20px;
    }
    @include phone(){
      font-size: 16px;
      padding: 8px 12px 8px 12px;
    }
  }
}
.project-tech-list {
  margin: 0 0 50px 0;
  padding: 0;
  color: #4e8839;  
  text-transform: uppercase;
  @include laptop(){
    margin-bottom: 34px;
  }
  @include phone(){
    margin-bottom: 12px;
  }
  &__item {
    position: relative;
    display: inline-block; 
    padding-left: 5px;
    @include laptop(){
      font-size: 14px;
    }
    &:after {
      content: ' , ';
      position: absolute;
      left: -4px;
      bottom: 0;      
    }
    &:first-child {
      padding-left: 0;
      &:after {
        content: '';
      }
    }
  }
}

.pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  @include laptop(){
    bottom: 23px;
  }
  @include phone(){
    bottom: 4px;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
     display: inline-block;
     margin-left: 20px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #6c9c5a;  
    transition: background .2s; 
    cursor: pointer;
    &:hover{
      background: #6c9c5a;
    }    
    @include laptop(){
      margin-left: 15px;
    }
    &:first-child {
    margin-left: 0;
    }
    &_active {
     background: #6c9c5a;
    }
  }
}
.navigation {
  &__arrow {
    position: absolute;
    top: 50%;  
    transform: translateY(-50%);
    display: block;
    color: #92b583;
    font-size: 32px;
    transition: color .2s;
    &:hover {
      color: #566358;
    }
    &_left {
      left: 30px;
      @include laptop(){
        left: 22px;
      }
      @include phone(){
        left: 2px;
      }
    }
    &_right {
      right: 30px;
      @include laptop(){
        right: 22px;
      }
      @include phone(){
        right: 2px;
      }
    }
  }
}