.container_testimonials {
  width: 720px;
}
.testimonials {
  max-width: 780px;
  margin: 0 auto 60px auto;
  overflow: hidden;
  @include laptop(){
    margin-bottom: 46px;
  }
}
.testimonial {
  margin: 0;
  padding: 0;
  max-width: 380px;
  text-align: center;
  float: left;
  @include laptop(){
    width: 350px;
    font-size: 14px;
  }
  &:last-child {
    margin-left: 20px;
  }
  &__image-wrapper {   
    display: inline-block;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;
  }
  &__text{
    position: relative;
    text-align: left;
    font-style: italic;
    margin-bottom: 16px;
    @include laptop(){
      margin-bottom: 8px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 75px;
      height: 61px;
      top: -30px;
      left: 0;
      background: url('../img/quotes.png') 0 0 no-repeat;
    }
  }
  &__name {
    color: #4e8839;
    font-weight: 700;
    font-style: italic;
  }
  &__position {
    font-style: italic;
  }
  &__footer {
    font-size: 16px;
    line-height: 1.4;
  }
}