extends ../_template
block variables
	- currentPage = 'Обо мне'

block title
	title Обо мне
	
block content
	header.header.header_inner-page-high
		.personal-info.personal-info_about-theme
			include ../common/personal-info
		.social-nav-wrapper.social-nav-wrapper_theme-green.social-nav-wrapper_absolute
			include ../common/social-links			
		include ../common/arrow-down
		include ../common/fs-nav

		svg(class="traingle triangle_about-theme" viewBox="0 0 1000 86" preserveAspectRatio="none")
			polygon(class="triangle__left" points="0,0 0,86 500.8,86 500,84" fill="none")
			polygon(class="triangle__right" points="1000,00 1000,86 500,86 500,84" fill="none")

	main(class="content content_nomargin container container_about")
		div.col-left
			article.article-content.left-bg
				.article-content__inner-wrapper
					h3(class="page-title page-title_extra page-title_column") Обо мне
					.article-content__extra-wrapper.article-content_column
						img(src="assets/img/profile-img-lg.jpg" class="article-content__image" alt="Profile image large")
						h4(class="page-title page-title_small") Кто я	
						p.article-content__paragraph Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.

						p.article-content__paragraph Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

		div.col-right
			article.article-content
				div(class="article-content__inner-wrapper article-content__inner-wrapper_small")
					h4(class="page-title page-title_small page-title_multiline") Чем я могу быть вам полезен
					p(class="article-content__paragraph mb50") Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.					
					
					include ../common/skills
					
	.map-wrapper
		include ../common/contacts
		img(src="assets/img/map-placeholder.jpg" alt="Google map")
		
		.footer-wrapper.footer-wrapper_about
			include ../common/footer