extends ../_template
block variables
	- currentPage = 'Блог'

block title
	title Блог
	
block content
	header.header.header_inner-page
		.avatar-wrapper
			img.personal-info__avatar-img(src="assets/img/profile-img-sm.jpg" alt="Avatar")
		h1.page-title.page-title_blog Блог
		h2.page-slogan.page-slogan_blog Статьи, которые я написал
		svg(class="traingle triangle_blog-theme" viewBox="0 0 1000 86" preserveAspectRatio="none")
			polygon(class="triangle__left" points="0,0 0,86 500.8,86 500,84" fill="none")
			polygon(class="triangle__right" points="1000,00 1000,86 500,86 500,84" fill="none")
		
	main(class="content container container_blog")
		aside.blog-sidebar
			ul.vertical-nav__list
				li( class="vertical-nav__item vertical-nav__item_active")
					a(class="vertical-nav__link" href="#article1") Самое важное в SASS
				li( class="vertical-nav__item ")
					a(class="vertical-nav__link" href="#article2") Приёмы в вёрстке, без которых не обходится ни один сайт
				li( class="vertical-nav__item ")
					a(class="vertical-nav__link" href="#article3") Самый необходимый набор Gulp плагинов
				li( class="vertical-nav__item ")
					a(class="vertical-nav__link" href="#article4" ) Почему я выбрал Jade
            
			
		div.blog-posts
			article.blog-post(class="blog-post" id="article1")
				h3.blog-post__title Самое важное в SASS
				time(class="blog-post__date" datetime="2016-11-22") 22 ноября 2016
				div.blog-post__content
					p.blog-post__paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.blog-post__paragraph.blog-post__paragraph_last Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					img.blog-post__image(src="assets/img/code-example.jpg" alt="Code example")
			
			article(class="blog-post" id="article2")
				h3.blog-post__title Приёмы в вёрстке, без которых не обходится ни один сайт
				time(class="blog-post__date" datetime="2016-11-13") 13 ноября 2016
				div.blog-post__content
					p.blog-post__paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.blog-post__paragraph.blog-post__paragraph_last Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			
			article(class="blog-post" id="article3")
				h3.blog-post__title Самый необходимый набор Gulp плагинов
				time(class="blog-post__date" datetime="2016-11-13") 08 ноября 2016
				div.blog-post__content
					p.blog-post__paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.blog-post__paragraph.blog-post__paragraph_last Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			
			article(class="blog-post" id="article4")
				h3.blog-post__title Почему я выбрал Jade
				time(class="blog-post__date" datetime="2016-11-13") 02 ноября 2016
				div.blog-post__content
					p.blog-post__paragraph Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p.blog-post__paragraph.blog-post__paragraph_last Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
	.footer-wrapper.footer-wrapper_blog
		include ../common/footer