extends ../_template

block content  
  a(class="authorize-btn" href="#") Авторизоваться  
  .fullwidth-background
    canvas.fullwidth-background__canvas
    .st-box-wrapper
      .flip-container
        .flip-card
          section.st-box.personal-info-box.flip-card__front
            .wrapper
              .personal-info.personal-info_default
                include ../common/personal-info        
              .social-nav-wrapper.social-nav-wrapper_theme-transp-green
                include ../common/social-links
              nav.main-nav
                +nav("main-nav", [
                  {
                    name: "Мои работы",
                    link: "works.html"
                  },
                  {
                    name: "Обо мне",
                    link: "about.html"
                  },
                  {
                    name: "Блог",
                    link: "blog.html"
                  }
                ])    

          section.st-box.authorize-box.flip-card__back
            include ../common/authorize
             
  footer.footer-simple
    p © Владимир Астахов | создано с любовью в LoftSchool | 2016