extends ../_template

block content  
  a(class="authorize-btn" href="#") Авторизоваться
  .fullwidth-background
    section.st-box
      .personal-info
        include ../common/personal-info        
      .social-nav-wrapper.social-nav-wrapper_theme-green
        include ../common/social-links
      nav.main-nav
        +nav("main-nav", ["Мои работы", "Обо мне", "Блог"])    

      include ../common/authorize
             
  footer.footer-simple
    p © Владимир Астахов | создано с любовью в LoftSchool | 2016