extends ../_template
block variables
	- currentPage = 'Мои работы'

block title
	title Мои работы
	
block content
	header.header.header_inner-page-high
		.personal-info.personal-info_large
			include ../common/personal-info
	.social-nav-wrapper.social-nav-wrapper_theme-green.social-nav-wrapper_absolute
		include ../common/social-links	
	.hamburger-nav.hamburger-nav_absolute
		a(class="hamburger-nav__button" href="#")
			.hamburger-nav__icon
				+icon_fa("hamburger-nav", "bars")
		.hamburger-nav__list
	main(class="content content_nomargin")
		section.works
			.extra-title-wrapper
				h3(class="page-title page-title_extra page-title_extramargin") Мои работы
			
			include ../common/slider
		section.content-bottom
			.extra-title-wrapper.extra-title-wrapper_no-bg
				h3(class="page-title page-title_extra page-title_extramargin2") Что обо мне<br>говорят
			
			include ../common/testimonials
			include ../common/contact-form

	.footer-wrapper
		include ../common/footer